

<h2 class="mt-4 mb-5 text-center">使用者登入</h2>

<div class="container">

  <div class="row justify-content-center mt-4 mb-3">
    <div class="col-7">

      {{> message }}

      <form action="/users/login" method="post">

        <div class="row align-items-center mb-4">
          <label for="email" class="col-3 form-label h5 text-end mb-0">Email</label>
          <div class="col-8">
            <input type="email" class="form-control" id="email" name="email" placeholder="請填寫郵件信箱...">
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <label for="password" class="col-3 form-label h5 text-end mb-0">密碼</label>
          <div class="col-8">
            <input type="password" class="form-control" id="password" name="password" placeholder="請填寫密碼...">
          </div>
        </div>

        {{!-- 登入確認按鈕 --}}
        <div class="row justify-content-center">
            <button type="submit" class="col-4 btn btn-primary me-1">登入確認</button>
        </div>

      </form>
    </div>
  </div>



</div>




